.form-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.form {
    border: 1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 450px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .form {

        width: 300px;
    }

    p {
        width: 300px;
    }
}